@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background: #08131c;
    color: #F4E0B9;
    height: 100%;
    padding: 0;
    margin: 0;
}
header {
    background: #0c0b0b;
    border-bottom: 2px solid #605431;
}
.logo {
    font-size: 3rem;
    margin: 20px 10px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.menuBarItem{
    display: flex;
    margin: 20px 10px;
    font-size: 1.5rem;
    padding: 10px;
    text-align: justify;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
}

.menuItems {
    text-decoration: none;
    color: #F4E0B9;
}
.menuLink:hover {
    color: #3c4340;
}
.menuLink {
    text-decoration: none;
    color: #F4E0B9
}
.shopPole {
    width: 50px;
    margin: 10px;
}
.logoImg {
    display: flex;
    gap: 20px;
}
.heroSections {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}
.heroSection1 {
    display: flex;
    margin: 20px 0 0 0;
}
.vitoHeroShot {
    width: 350px;
    border-radius: 10px;
    border: 5px solid #605431;
}
.heroSection2 {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction: column;


}
.services {
    font-size: 2rem;
    text-decoration: underline;
}
span {
    font-style: italic;
}
.bookButton {
    background: #080404;
    border-radius: 10px;
    border: 5px solid #605431;
    color: #F4E0B9;
    padding: 10px;
    width: 95px;
    cursor: pointer;
}
.aTag{
    text-decoration: none;
    color: #F4E0B9;
}

/* contact form */
.contactArea {
    width: 100%;
    height: 100vh;
    display: flex;
   align-items: center;
   margin-top: 20px;
    justify-content: space-evenly;
}
form{
    background: #080404;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    border: 5px solid #605431;
}
form h3 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
form button {
    padding: 15px;
    background: #3c4340;
    color: #F4E0B9;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 200px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 5px solid #605431;
}
form button:hover {
    background: #605431;
    border: 5px solid #3c4340;
    color: #F4E0B9;
}

form>label {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}
/* map */
.locationHours {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

iframe {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 1.5rem;
    gap: .75rem;
    margin-left: 20px;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    color: #3c4340;
    font-size: 1.2rem;
}

/* Media Queries 
@media all and (max-width: 770px) {
    nav{
        width: 100%;
    }
}
@media all and (max-width: 420px) {
    .menuBarItem {
        width: 100%;
    }
}

*/